$small-device-max-width: 700px;
$color-border: #d0d0d0;
$color-hover: #dbe2ff;
$color-delete: red;
$color-add-bg: #00d406;
$color-add-text: white;
$color-toolbar-bg: #1976d2;
$color-toolbar-text: white;
